/**
 * Project Gallery
 */

.top:after {
	clear: both;
}

.folio {

	color: #fff;
	//padding: 50px;

	.arrow_box_top {
		width: 200px;
		//float: right;
		//margin-right: 2em;
		margin: 10px auto;
	}

	.arrow_box_top a {
		color: $white;
	}

	.arrow_box_top {
		border: 2px solid $white;
	}
	.arrow_box_top:before {
		border-bottom-color: $white;
	}

	.arrow_box_top:after {
		border-bottom-color: $blue;
	}

	h1 {
		color: $dark;
	}

	nav {
		font-size: 0.7em;
		text-transform: uppercase;
		margin: 2em 0em;
		letter-spacing: 0.2em;
		line-height: 2em;
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline;

		li {
			font-size: 1em;
			margin: 0;
			padding: 0;
			display: inline;
			list-style: none;
			letter-spacing: 0.2em;
			margin-left: 3em;

		}
	}
	
}

.gallery {
	
	//width: 47em;
	margin: 0 auto;
	text-align: center;

	.project {

		width: 90%;
		//height: 259px;
		background: $dark;
		text-align: center;
		//float: left;
		//margin-right: 20px;
		//margin-bottom: 20px;
		//margin: 0px 20px 20px 20px;
		margin: 0px auto;
		margin-bottom: 20px;

		img {
			width: 100%;
			margin: 0px;
			padding: 0px;
		}

		.title {
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 2px;
			padding: 15px;
		}

		.summary {
			font-size: 10px;
			padding: 5px;
			font-family: $serif-font;
			letter-spacing: 1px;
		}
	}


}



/* Small Devices, Tablets */
@media only screen and (min-width : 500px) {

.folio {
	.arrow_box_top {
		width: 200px;
		float: right;
		//margin-right: 2em;
		//margin: 10px auto;
	}	
}

.gallery {

	max-width: 48em;

	text-align: center;

	.project {
	
		width: 200px;
		//height: 300px;
		background: $dark;
		text-align: center;
		margin: 10px;
		//margin-bottom: 20px;
		//margin: 0px 20px 20px 20px;
		//margin: 0px auto;
		//margin-bottom: 20px;
		display:inline-block;

	}

	.allprojects {
		//width: 90%;
		//max-width: 47em;
		display:table-cell;
		text-align: center;
		margin: 0 auto;
	}

}


}


/* Larger Devices */
@media only screen and (min-width : 500px) {

	.folio {
		
		text-align: center;

		h1 {
		 text-align: center;
		}

		.top {
			width: 22.4em;
			margin: 0 auto;
		}

		.arrow_box_top {
			float: none; 
		}	

	}

}



/* Medium Devices */
@media only screen and (min-width : 686px) {

	.folio {


		h1 {
		 text-align: left;
		}

		.top {
			width: 34em;
		}

		.arrow_box_top {
			float: right; 
		}		
	}

}


/* Larger Devices */
@media only screen and (min-width : 911px) {

	.folio {
		//text-align: center;

		.top {
			width: 46em;
			//margin: 0 auto;
		}	
	}

}


